<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="codetheory.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link href="_content/Brism/prism.css" rel="stylesheet" />
    <link href="_content/Brism/prism-vsc-dark-plus.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <script src="_content/Brism/prism.js"></script>
    <script type="module" src="_content/Brism/prismInterop.js"></script>

    <script src="_content/MudBlazor/MudBlazor.min.js?v=8.4.0"></script>
    <script src="_content/Extensions.MudBlazor.StaticInput/NavigationObserver.js?v=3.2.0"></script>
    <script src="https://unpkg.com/konva@9/konva.min.js"></script>
    <script src="js/searchAnimation.js"></script>
</body>

</html>
